In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
%matplotlib inline

In [3]:
internet_df = pd.read_csv("../data/internet_df.csv", nrows=4496)

In [4]:
gdp_df = pd.read_csv("../data/gdp_df.csv", nrows=6869)

In [5]:
print(internet_df.head(6))

  Country or Area  Year     Value  Value Footnotes
0     Afghanistan  2014  6.390000              NaN
1     Afghanistan  2013  5.900000              NaN
2     Afghanistan  2012  5.454545              NaN
3     Afghanistan  2011  5.000000              NaN
4     Afghanistan  2010  4.000000              NaN
5     Afghanistan  2009  3.550000              NaN

In [6]:
print(gdp_df.head(6))

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2019  2065.036398              NaN
1     Afghanistan  2018  2033.779002              NaN
2     Afghanistan  2017  2058.383832              NaN
3     Afghanistan  2016  2057.062164              NaN
4     Afghanistan  2015  2068.265904              NaN
5     Afghanistan  2014  2102.385234              NaN

In [7]:
print(internet_df.shape)

(4496, 4)

In [8]:
print(gdp_df.shape)

(6869, 4)

In [9]:
print(internet_df.dtypes)

Country or Area     object
Year                object
Value              float64
Value Footnotes    float64
dtype: object

In [10]:
print(gdp_df.dtypes)

Country or Area     object
Year                object
Value              float64
Value Footnotes    float64
dtype: object

In [11]:
internet_df = internet_df.drop(columns = ['Value Footnotes'])

In [12]:
gdp_df = gdp_df.drop(columns = ['Value Footnotes'])

In [13]:
print(internet_df.iloc[:10])

  Country or Area  Year     Value
0     Afghanistan  2014  6.390000
1     Afghanistan  2013  5.900000
2     Afghanistan  2012  5.454545
3     Afghanistan  2011  5.000000
4     Afghanistan  2010  4.000000
5     Afghanistan  2009  3.550000
6     Afghanistan  2008  1.840000
7     Afghanistan  2007  1.900000
8     Afghanistan  2006  2.107124
9     Afghanistan  2005  1.224148

In [14]:
gdp_df = gdp_df.rename(columns = {'Country or Area' : 'Country', 'Value' : 'GDP_Per_Capita'})

In [15]:
internet_df = internet_df.rename(columns = {'Country or Area' : 'Country', 'Value' : 'Internet_Users_Pct'})

In [16]:
#gdp_and_internet_use = pd.merge(gdp_df, internet_df, on = ['Country', 'Year'], how='left')
gdp_and_internet_use = pd.merge(gdp_df,internet_df, on=['Country', 'Year'],how='left')

In [17]:
print(gdp_and_internet_use.head(5))

       Country  Year  GDP_Per_Capita  Internet_Users_Pct
0  Afghanistan  2019     2065.036398                 NaN
1  Afghanistan  2018     2033.779002                 NaN
2  Afghanistan  2017     2058.383832                 NaN
3  Afghanistan  2016     2057.062164                 NaN
4  Afghanistan  2015     2068.265904                 NaN

In [18]:
print(gdp_and_internet_use.tail(5))

            Country      Year  GDP_Per_Capita  Internet_Users_Pct
6864       Zimbabwe      1993     3033.504852                 NaN
6865       Zimbabwe      1992     3054.889178                 NaN
6866       Zimbabwe      1991     3426.598094                 NaN
6867       Zimbabwe      1990     3324.348171                 0.0
6868  footnoteSeqID  Footnote             NaN                 NaN

In [32]:
gdp_and_internet_use = gdp_and_internet_use(['Year'] == '2004', '2009', '2014')

TypeError: 'DataFrame' object is not callable