In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
%matplotlib inline

In [19]:
internet_df = pd.read_csv("../data/internet_df.csv", nrows=4496)

In [20]:
gdp_df = pd.read_csv("../data/gdp_df.csv", nrows=6869)

In [44]:
print(internet_df.head(6))

  Country or Area  Year     Value  Value Footnotes
0     Afghanistan  2014  6.390000              NaN
1     Afghanistan  2013  5.900000              NaN
2     Afghanistan  2012  5.454545              NaN
3     Afghanistan  2011  5.000000              NaN
4     Afghanistan  2010  4.000000              NaN
5     Afghanistan  2009  3.550000              NaN

In [45]:
print(gdp_df.head(6))

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2019  2065.036398              NaN
1     Afghanistan  2018  2033.779002              NaN
2     Afghanistan  2017  2058.383832              NaN
3     Afghanistan  2016  2057.062164              NaN
4     Afghanistan  2015  2068.265904              NaN
5     Afghanistan  2014  2102.385234              NaN

In [46]:
print(internet_df.shape)

(4496, 4)

In [47]:
print(gdp_df.shape)

(6869, 4)

In [48]:
print(internet_df.dtypes)

Country or Area     object
Year                object
Value              float64
Value Footnotes    float64
dtype: object

In [49]:
print(gdp_df.dtypes)

Country or Area     object
Year                object
Value              float64
Value Footnotes    float64
dtype: object

In [50]:
print(internet_df.iloc[10:])

     Country or Area      Year     Value  Value Footnotes
10       Afghanistan      2004  0.105809              NaN
11       Afghanistan      2003  0.087891              NaN
12       Afghanistan      2002  0.004561              NaN
13       Afghanistan      2001  0.004723              NaN
14       Afghanistan      1990  0.000000              NaN
...              ...       ...       ...              ...
4491        Zimbabwe      1996  0.016790              NaN
4492        Zimbabwe      1995  0.007684              NaN
4493        Zimbabwe      1994  0.001739              NaN
4494        Zimbabwe      1990  0.000000              NaN
4495   footnoteSeqID  Footnote       NaN              NaN

[4486 rows x 4 columns]

In [51]:
print(gdp_df.iloc[10:])

     Country or Area      Year        Value  Value Footnotes
10       Afghanistan      2009  1758.904043              NaN
11       Afghanistan      2008  1484.114729              NaN
12       Afghanistan      2007  1460.826075              NaN
13       Afghanistan      2006  1315.789565              NaN
14       Afghanistan      2005  1286.793508              NaN
...              ...       ...          ...              ...
6864        Zimbabwe      1993  3033.504852              NaN
6865        Zimbabwe      1992  3054.889178              NaN
6866        Zimbabwe      1991  3426.598094              NaN
6867        Zimbabwe      1990  3324.348171              NaN
6868   footnoteSeqID  Footnote          NaN              NaN

[6859 rows x 4 columns]

In [52]:
print(internet_df.iloc[:10])

  Country or Area  Year     Value  Value Footnotes
0     Afghanistan  2014  6.390000              NaN
1     Afghanistan  2013  5.900000              NaN
2     Afghanistan  2012  5.454545              NaN
3     Afghanistan  2011  5.000000              NaN
4     Afghanistan  2010  4.000000              NaN
5     Afghanistan  2009  3.550000              NaN
6     Afghanistan  2008  1.840000              NaN
7     Afghanistan  2007  1.900000              NaN
8     Afghanistan  2006  2.107124              NaN
9     Afghanistan  2005  1.224148              NaN

In [53]:
print(gdp_df.iloc[:10])

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2019  2065.036398              NaN
1     Afghanistan  2018  2033.779002              NaN
2     Afghanistan  2017  2058.383832              NaN
3     Afghanistan  2016  2057.062164              NaN
4     Afghanistan  2015  2068.265904              NaN
5     Afghanistan  2014  2102.385234              NaN
6     Afghanistan  2013  2116.465454              NaN
7     Afghanistan  2012  2075.491747              NaN
8     Afghanistan  2011  1904.559799              NaN
9     Afghanistan  2010  1957.029338              NaN