In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
%matplotlib inline

In [3]:
internet_df = pd.read_csv("../data/internet_df.csv", nrows=4496)

In [4]:
gdp_df = pd.read_csv("../data/gdp_df.csv", nrows=6869)

In [5]:
print(internet_df.head(6))

  Country or Area  Year     Value  Value Footnotes
0     Afghanistan  2014  6.390000              NaN
1     Afghanistan  2013  5.900000              NaN
2     Afghanistan  2012  5.454545              NaN
3     Afghanistan  2011  5.000000              NaN
4     Afghanistan  2010  4.000000              NaN
5     Afghanistan  2009  3.550000              NaN

In [6]:
print(gdp_df.head(6))

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2019  2065.036398              NaN
1     Afghanistan  2018  2033.779002              NaN
2     Afghanistan  2017  2058.383832              NaN
3     Afghanistan  2016  2057.062164              NaN
4     Afghanistan  2015  2068.265904              NaN
5     Afghanistan  2014  2102.385234              NaN

In [7]:
print(internet_df.shape)

(4496, 4)

In [8]:
print(gdp_df.shape)

(6869, 4)

In [9]:
print(internet_df.dtypes)

Country or Area     object
Year                object
Value              float64
Value Footnotes    float64
dtype: object

In [10]:
print(gdp_df.dtypes)

Country or Area     object
Year                object
Value              float64
Value Footnotes    float64
dtype: object

In [11]:
internet_df = internet_df.drop(columns = ['Value Footnotes'])

In [12]:
gdp_df = gdp_df.drop(columns = ['Value Footnotes'])

In [13]:
print(internet_df.iloc[:10])

  Country or Area  Year     Value
0     Afghanistan  2014  6.390000
1     Afghanistan  2013  5.900000
2     Afghanistan  2012  5.454545
3     Afghanistan  2011  5.000000
4     Afghanistan  2010  4.000000
5     Afghanistan  2009  3.550000
6     Afghanistan  2008  1.840000
7     Afghanistan  2007  1.900000
8     Afghanistan  2006  2.107124
9     Afghanistan  2005  1.224148

In [14]:
gdp_df = gdp_df.rename(columns = {'Country or Area' : 'Country', 'Value' : 'GDP_Per_Capita'})

In [15]:
internet_df = internet_df.rename(columns = {'Country or Area' : 'Country', 'Value' : 'Internet_Users_Pct'})

In [39]:
#gdp_and_internet_use = pd.merge(gdp_df, internet_df, on = ['Country', 'Year'], how='left')
gdp_and_internet_use = pd.merge(gdp_df,internet_df, on=['Country', 'Year'],how='left')

In [40]:
print(gdp_and_internet_use.head(5))

       Country  Year  GDP_Per_Capita  Internet_Users_Pct
0  Afghanistan  2019     2065.036398                 NaN
1  Afghanistan  2018     2033.779002                 NaN
2  Afghanistan  2017     2058.383832                 NaN
3  Afghanistan  2016     2057.062164                 NaN
4  Afghanistan  2015     2068.265904                 NaN

In [41]:
print(gdp_and_internet_use.tail(5))

            Country      Year  GDP_Per_Capita  Internet_Users_Pct
6864       Zimbabwe      1993     3033.504852                 NaN
6865       Zimbabwe      1992     3054.889178                 NaN
6866       Zimbabwe      1991     3426.598094                 NaN
6867       Zimbabwe      1990     3324.348171                 0.0
6868  footnoteSeqID  Footnote             NaN                 NaN

In [42]:
years = [2004, 2009, 2014]
gdp_int_selected = gdp_and_internet_use.loc[gdp_and_internet_use.Year.isin(years)]

In [43]:
gdp_int_2004 = gdp_int_selected[gdp_int_selected.Year == 2004]
gdp_int_2009 = gdp_int_selected[gdp_int_selected.Year == 2009]
gdp_int_2014 = gdp_int_selected[gdp_int_selected.Year == 2014]

In [44]:
print(gdp_int_selected.head())

Empty DataFrame
Columns: [Country, Year, GDP_Per_Capita, Internet_Users_Pct]
Index: []

In [45]:
gdp_and_internet_use.dropna(subset=['Year'])

            Country      Year  GDP_Per_Capita  Internet_Users_Pct
0       Afghanistan      2019     2065.036398                 NaN
1       Afghanistan      2018     2033.779002                 NaN
2       Afghanistan      2017     2058.383832                 NaN
3       Afghanistan      2016     2057.062164                 NaN
4       Afghanistan      2015     2068.265904                 NaN
...             ...       ...             ...                 ...
6864       Zimbabwe      1993     3033.504852                 NaN
6865       Zimbabwe      1992     3054.889178                 NaN
6866       Zimbabwe      1991     3426.598094                 NaN
6867       Zimbabwe      1990     3324.348171                 0.0
6868  footnoteSeqID  Footnote             NaN                 NaN

[6869 rows x 4 columns]

In [52]:
gdp_and_internet_use[gdp_and_internet_use['Year'] == '2004']

                  Country  Year  GDP_Per_Capita  Internet_Users_Pct
15            Afghanistan  2004     1200.278256            0.105809
33                Albania  2004     7604.838002            2.420388
63                Algeria  2004    10058.435939            4.634475
93                 Angola  2004     5593.241537            0.464815
123   Antigua and Barbuda  2004    18745.681534           24.266544
...                   ...   ...             ...                 ...
6737              Vietnam  2004     3689.732423                 NaN
6767   West Bank and Gaza  2004     4485.525458                 NaN
6793                World  2004    12077.823821                 NaN
6823               Zambia  2004     2261.766537            2.013550
6853             Zimbabwe  2004     2480.859342            6.564045

[234 rows x 4 columns]

In [53]:
gdp_and_internet_use[gdp_and_internet_use['Year'] == '2009']

                  Country  Year  GDP_Per_Capita  Internet_Users_Pct
10            Afghanistan  2009     1758.904043                3.55
28                Albania  2009    10346.864199               41.20
58                Algeria  2009    10782.361398               11.23
88                 Angola  2009     7643.493749                6.00
118   Antigua and Barbuda  2009    20046.839017               42.00
...                   ...   ...             ...                 ...
6732              Vietnam  2009     4830.304958                 NaN
6762   West Bank and Gaza  2009     5250.116075                 NaN
6788                World  2009    13396.524163                 NaN
6818               Zambia  2009     2917.516220                6.31
6848             Zimbabwe  2009     1925.364381               11.36

[236 rows x 4 columns]

In [54]:
gdp_and_internet_use[gdp_and_internet_use['Year'] == '2014']

                  Country  Year  GDP_Per_Capita  Internet_Users_Pct
5             Afghanistan  2014     2102.385234                6.39
23                Albania  2014    11623.866679               60.10
53                Algeria  2014    11512.705405               18.09
83                 Angola  2014     8239.828837               21.26
113   Antigua and Barbuda  2014    18104.241470               64.00
...                   ...   ...             ...                 ...
6727              Vietnam  2014     6098.489609                 NaN
6757   West Bank and Gaza  2014     5967.073437                 NaN
6783                World  2014    15189.648507                 NaN
6813               Zambia  2014     3450.046561               17.34
6843             Zimbabwe  2014     2955.240287               19.89

[238 rows x 4 columns]